html {
    font-size: 16px; /* !!!!!!!!!! */
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 1rem;
    padding-top: 60px; /* Compensate `.navbar {height}` */
    margin: 0;
}

/* BUTTONS */
.btn {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    padding: 0.35em;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.3em;
    transition: 0.3s;
}

/* Solid buttons */
.btn-dark {
    border-color: #303030;
    background-color: #303030;
}
.btn-dark:hover {
    border-color: #000000;
    background-color: #000000;
}

.btn-blue {
    border-color: #0a74ff;
    background-color: #0a74ff;
}
.btn-blue:hover {
    border-color: #005acf;
    background-color: #005acf;
}

.btn-green {
    border-color: #078d07;
    background-color: #078d07;
}
.btn-green:hover {
    border-color: #066b06;
    background-color: #066b06;
}
/* Solid buttons */

/* Outline buttons */
.btn-outline-dark {
    border-color: #303030;
    color: #303030;
}
.btn-outline-dark:hover {
    background-color: #303030;
    color: #ffffff;
}

.btn-outline-blue {
    border-color: #0a74ff;
    color: #0a74ff;
}
.btn-outline-blue:hover {
    background-color: #0a74ff;
    color: #ffffff;
}

.btn-outline-green {
    border-color: #078d07;
    color: #078d07;
}
.btn-outline-green:hover {
    background-color: #078d07;
    color: #ffffff;
}
/* Outline buttons */
/* BUTTONS */

.navbar {
    font-size: 16px; /* !!!!!!!!!! */
    position: fixed;
    width: 100%;
    height: 3em;
    right: 0;
    left: 0;
    top: 0;
    padding-right: 100px; /* ????????????????????????????????????????????????????????????????????????????????????????????????????????????? */
}

/* EMAIL FORM */
#email-form {
    font-size: 20px;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    padding: 1em 5%;
    border: solid black 1px;
    border-radius: 1em;
}

#email-form input, textarea {
    border-radius: 0.3em;
    border: solid black 1px;
}

#email-form > input, textarea {
    width: 100%;
}

#email-form > input {
    height: 2.5em;
}

#email-form > textarea {
    height: 4em;
}

#email-form .btn {
    width: 45%
}

/* EMAIL FORM */

#theme-toggle-box {
    width: 6.25em;
    height: 2.4em;
    border: 1px solid black;
    border-radius: 1.5em;
}

#theme-toggle-btn {
    width: 2.3em; /* Same as height */
    height: 2.3em; /* `#theme-toggle-box {height}` - 2 * `#theme-toggle-btn {padding}` */
    padding: 0.05em;
    /* border: 0.05rem solid black; */
    border-radius: 1.5em;
    vertical-align: middle;
    transition: all .8s;
}

/* Utilities */
.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: 5px;
}
.ml-2 {
    margin-left: 10px;
}
.ml-3 {
    margin-left: 15px;
}
.ml-auto {
    margin-left: auto;
}

.mr-0 {
    margin-right: 0;
}
.mr-1 {
    margin-right: 5px;
}
.mr-2 {
    margin-right: 10px;
}
.mr-3 {
    margin-right: 15px;
}
.mr-auto {
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

.w-33 {
    width: 33%;
}

.flexbox {
    display: flex;
}

.text-align-start {
    text-align: start;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.cursor-pointer {
    cursor: pointer;
}

.dark-cyan {
    background-color: #2B525A;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-grey {
    background-color: #a5a5a5;
}
.bg-dark-grey {
    background-color: #5c5c5c;
}

.bg-light-blue {
    background-color: #668cff;
}
.bg-dark-blue {
    background-color: #001247;
}

.blur-bg {
    backdrop-filter: blur(5px);
}

body.bg-light-theme {
    background-image: url("../images/bg_light.jpg");
}

body.bg-dark-theme {
    background-image: url("../images/bg_dark.jpg");
}

#theme-toggle-btn.item-self-right {
    margin-left: 3.85em; /* `#theme-toggle-box {width}` - `#theme-toggle-btn {width}` - (2 * `#theme-toggle-btn {padding}` - `#theme-toggle-btn {border}`) */
}
#theme-toggle-btn.item-self-left {
    margin-left: 0em; /* Compensate `#theme-toggle-btn {border-width}` */
}
/* Utilities */