body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 1rem;
    padding-top: 3.8rem; /* `.navbar {height}` + `.navbar {padding-top}` + `.navbar {padding-bottom}` */
    margin: 0;
}

.navbar {
    position: fixed;
    width: 100vw;
    height: 3.8rem;
    left: 0;
    top: 0;
    padding: 0.4rem 0;
    background-color: #2B525A;
}

#theme-toggle-box {
    width: 6.25rem;
    height: 2.5rem;
    border: 0.07rem solid black;
    border-radius: 1.5rem;
}

#theme-toggle-img {
    width: 2.4rem; /* Same as height */
    height: 2.4rem; /* `#theme-toggle-box {height}` - 2 * `#theme-toggle-img {padding}` */
    padding: 0.05rem;
    /* border: 0.05rem solid black; */
    border-radius: 1.5rem;
    vertical-align: middle;
    transition: all .8s;
}

/* Utilities */
.bg-light-theme {
    background-image: url("../images/bg_light.jpg");
}

.bg-dark-theme {
    background-image: url("../images/bg_dark.jpg");
}

#theme-toggle-img.item-self-right {
    margin-left: 3.75rem; /* `#theme-toggle-box {width}` - `#theme-toggle-img {width}` - (2 * `#theme-toggle-img {padding}` - `#theme-toggle-img {border}`) */
}

#theme-toggle-img.item-self-left {
    margin-left: 0rem; /* Compensate `#theme-toggle-img {border-width}` */
}

.ml-auto {
    margin-left: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-light-blue {
    background-color: #668cff;
}

.bg-dark-blue {
    background-color: #001247;
}
/* Utilities */